.wrapper {
  background-color: white;
  padding: 40px;
  width: 982px;
  position: relative;
  border-radius: 20px;
  overflow-y: auto;
  max-height: calc(90vh - calc(90vh - 90%));
}
.closeBtn {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 40px;
  top: 40px;
}

.closeIcon {
  color: var(--main-101828);
}

.titleWrapper {
  margin-bottom: 8px;
}

.statsWrapper {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
}

.priceWrapper {
  margin-bottom: 24px;
}

.galleryWrapper {
  margin-bottom: 24px;
}

.descrWrapper {
  margin-bottom: 44px;
}
