.wrapper {
  background-color: white;
  padding: 40px;
  width: 982px;
  position: relative;
  border-radius: 20px;
}
.closeBtn {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 40px;
  top: 40px;
}

.closeIcon {
  color: var(--main-101828);
}
