/* @import-normalize; */
@import url(./reset.css);

@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-Medium.woff2") format("woff2"),
    url("./fonts/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-Regular.woff2") format("woff2"),
    url("./fonts/Inter-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-SemiBold.woff2") format("woff2"),
    url("./fonts/Inter-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

:root {
  /* colors */
  --main-101828: #101828;
  --text-475467: #475467;
  --button-E44848: #e34747;
  --button-accent-D84343: #d84343;
  --rating-FFC531: #ffc531;
  --block-features-F2F4F7: #f2f4f7;
  --input-F7F7F7: #f7f7f7;
  --white: #ffffff;

  /* fonts */
  --font-family: "Inter", sans-serif;

  /* transition params */
  --my-transition-duration: 250ms;
  --my-transition-timing-function: ease-in-out;
  --my-transition-delay: 250ms;
  --my-cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  margin: 0;
  font-family: var(--font-family);
  color: var(--text-475467);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ===================CONTAINER================*/

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  padding-left: 64px;
  padding-right: 64px;
}

nav a.active {
  color: var(--button-accent-D84343);
}

nav a.active::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--button-accent-D84343);
}
