.navContainer {
}
.navList {
  display: flex;
  gap: 24px;
  align-items: baseline;
  justify-content: center;
}

.navLink {
  padding-top: 8px;
  padding-bottom: 8px;
  position: relative;
  display: inline-block;
  transition: color var(--my-transition-duration)
    var(--my-transition-timing-function);
}
.navLink:is(:hover, focus) {
  color: var(--button-accent-D84343);
}
