.item {
  width: 100%;
  min-width: 888px;
  padding: 24px;
  border-radius: 20px;
  border: 1px solid rgba(16, 24, 40, 0.2);
  display: flex;
  gap: 24px;
}

.item:not(:last-child) {
  margin-bottom: 32px;
}

.infoWrapper {
  flex: 1;
}

.titleWrapper {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 8px;
}

.priceWrapper {
  display: flex;
  align-items: center;
  gap: 11px;
}

.statsWrapper {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
}

.descrWrapper {
  margin-bottom: 24px;
}

.futureListWrapper {
  margin-bottom: 24px;
}
